.interior_content
	%h2
		Sign Up
	.signup_form
		= form_for(@user) do |f|
			.field
				= f.label :name
				= f.text_field :name
			.field
				= f.label :email
				= f.text_field :email
			.field
				= f.label :password
				= f.password_field :password
			.actions
				= f.submit "Sign Up"
	.clear
